.pulser {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 191, 255);
    border-radius: 100%;
    position: relative;
    opacity: 0;
    transition-duration: 3s;
    /* PROPIEDADES A ANIMAR */
    /* transition-property: background, scale; */
    /* DE QUE MANERA SE ANIMARA, RAPIDO, LENTO */
    /* transition-timing-function: steps(20); */
    /* transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); */
    transition-timing-function: ease;
    /* transition: 
        background 300ms linear,
        scale 500ms ease-in-out,
        box-shadow 1s ease
    ; */
}

section {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

section:hover .pulser {
    opacity: 1;
}

/* .pulser:hover {
    scale: 3;
    background-color: purple;
    box-shadow: 0 0 10px purple;
} */

body {
    display: grid;
    place-content: center;
    min-height: 50vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

/* TIEMPO PARA QUE INICIE LA ANIMACION */
.pulser:first-child {
    transition-delay: 0s;
}

.pulser:nth-child(2) {
    transition-delay: 300ms;
}

.pulser:nth-child(3) {
    transition-delay: 600ms;
}

/* SI EL USUARIO TIENE LAS ANIMACIONES DESHABILITADAS EN SU EQUIPO */
@media (prefers-reduced-motion: reduce) {
    .pulser {
        transition: none;
    }
}